<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }} - {{ subtitle }}</title>
		<link rel="stylesheet" href="../static/stylesheet.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	</head>
	<body>
		<div class="navbar">
			<a class="navbar-item left active-link" href="/">Home</a>
			<a class="navbar-item left" href="{{ node_address }}/mine" target="_blank">Request to Mine</a>
			<a class="navbar-item left" href="/">Resync Blockchain</a>
			<a class="navbar-item right" href="http://www.matthewmuccio.com" target="_blank">Matthew Muccio</a>
		</div>
		<div class="title">
			<h1 class="title-text">{{ title }}</h1>
			<h1 class="subtitle-text">{{ subtitle }}</h1>
		</div>
		<hr class="hr">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }} </li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
		<div class="footer">
			<p class="footer-item">Copyright &copy; <a href="http://www.matthewmuccio.com" target="_blank">Matthew Muccio</a> 2018</p>
    		<ul class="social-icon-list">
				<li class="social-icon"><a href="mailto:me@matthewmuccio.com" title="E-mail (Personal)"><i class="fas fa-comments white-icon"></i></a></li>
				<li class="social-icon"><a href="mailto:mmuccio@terpmail.umd.edu" title="E-mail (UMD)"><i class="fas fa-envelope white-icon"></i></a></li>
				<li class="social-icon"><a href="https://www.linkedin.com/in/matthewmuccio" title="LinkedIn" target="_blank"><i class="fab fa-linkedin white-icon"></i></a></li>
				<li class="social-icon"><a href="https://www.github.com/matthewmuccio" title="GitHub" target="_blank"><i class="fab fa-github white-icon"></i></a></li>
				<li class="social-icon"><a href="https://www.facebook.com/matthew.mooch" title="Facebook" target="_blank"><i class="fab fa-facebook white-icon"></i></a></li>
				<li class="social-icon"><a href="https://www.twitter.com/mattmuccio" title="Twitter" target="_blank"><i class="fab fa-twitter white-icon"></i></a></li>
			</ul>
		</div>
	</body>
</html>
