<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<center>
		<br>
		<form action="/submit" id="textform" method="post">
			<textarea name="content" rows="4" cols="50" placeholder="Write some content to add to the blockchain ..."></textarea>
			<br><br>
			<input type="text" name="author" placeholder="Name">
			<input type="submit" value="Post">
		</form>
		<br>
		<a href="{{node_address}}/mine" target="_blank"><button>Request to Mine</button></a>
		<a href="/"><button>Resync Your Blockchain</button></a>
	</center>

	<div style="margin: 20px;">
		{% for post in posts %}
		<div class="post_box">
		<div class="post_box-header">
			<div class="post_box-options"><button class="option-btn">Reply</button></div>
			<div style="background: rgb(0, 97, 146) none repeat scroll 0% 0%; box-shadow: rgb(0, 97, 146) 0px 0px 0px 2px;" class="post_box-avatar">{{post.author[0]}}</div>
			<div class="name-header">{{post.author}}</div>
			<div class="post_box-subtitle"> Posted at <i>{{readable_time(post.timestamp)}}</i></div>
		</div>
		<div>
			<div class="post_box-body">
				<p>{{post.content}}</p>
			</div>
		</div>
		</div>
		{% endfor %}
    </div>
{% endblock %}
